// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   background-color: #f0f0f0; /* Color de fondo */
// }

// img {
//   max-width: 10%;
//   height: auto;
//   border-radius: 10px; /* Bordes redondeados */
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
// }

/* Estilos base (para móvil) */
ion-content {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b40dc;
}

.login-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: inset 0px 0.1em 0.6em #828492;

  border-radius: 25px;
  // background: aqua;
  background: linear-gradient(
    rgba(119, 126, 222, 0.5),
    rgba(180, 194, 222, 0.5)
  );
}

.logo {
  max-width: 350px;
  margin: 0 auto 1.1rem;
  margin-bottom: 0%;
  border-radius: 20px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 35px;
  margin: 20px;
}

.frase {
  padding-top: 25px;
  margin-bottom: 2rem;
  width: 90%;
  justify-content: center;
  margin: 0 auto 30px;
  line-height: 1.4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.frase p {
  margin-bottom: 1em;
}

/* Media query para pantallas de PC (ancho mínimo de 768px) */
@media screen and (min-width: 1024px) {
  ion-content {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    box-shadow: inset 0px 0.1em 0.6em #828492;
    max-width: 50%;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    background: linear-gradient(
      rgba(119, 126, 222, 0.5),
      rgba(180, 194, 222, 0.5)
    );
    // background: linear-gradient(rgba(194, 188, 188, 0.5), rgba(255, 255, 255, 0.5)),
  }

  .logo {
    max-width: 300px;
    border-radius: 20px;
  }

  h2 {
    font-size: 60px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .frase {
    padding-top: 30px;
    font-size: 25px;
    width: 80%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
