ion-footer.fixed-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}

ion-header {
  --background: #fff;
  --color: #000;
}

.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

ion-toolbar {
  --background: #fff;
  --color: #000;
}

.BuscarT {
  margin: 5% 5% 0 5%;
  --background: #f3f5f7;
  --border-radius: 20px;
  width: 90%;
}

/* Estilo base para el ion-item */
ion-item {
  --background: #fefdff;
  --border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 5px; /* Espaciado mejorado */
  position: relative; /* Necesario para el pseudo-elemento */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

/* Estilo para cuando el ion-item está seleccionado */
ion-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c7d2fe;
  opacity: 0;
  transition: opacity 0.3s ease;
}

ion-item[selected]::after {
  opacity: 1;
  transition: opacity 0.3s ease;
  animation: fadeOut 0.3s forwards 0.3s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

ion-item:hover {
  --background: #dce1f3; /* Color celeste claro cuando se pasa el mouse */
}

ion-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos de la lista */
}

ion-item:last-child {
  border-bottom: none;
}

ion-label h2 {
  font-size: 16px;
  font-weight: bold;
}

ion-label p {
  font-size: 12px;
  color: #888;
}

ion-fab {
  margin: 16px; /* Agrega un margen para separar el botón de las esquinas */
}

ion-fab-button {
  --background: #2b31d2;
  --color: #fff;
}

ion-tab-bar {
  --background: #000; /* Color oscuro para el fondo de la barra de pestañas */
  --color: #ffffff; /* Color de los iconos por defecto */
  font-size: 35px;
}

ion-tab-button {
  --color: #adb5bd; /* Color de los iconos cuando no están seleccionados */
  --color-selected: #ffffff; /* Color de los iconos cuando están seleccionados */
  --background: transparent; /* Fondo transparente para los botones */
  transition: background-color 0.3s ease, color 0.3s ease; /* Animaciones suaves */
}

ion-tab-button:hover {
  --color: #ffffff; /* Color blanco cuando se pasa el mouse por encima */
  --background: rgba(255, 255, 255, 0.1); /* Fondo más claro cuando se pasa el mouse por encima */
}

ion-tab-button[tab="tareas"] {
  --color: #adb5bd; /* Color pastel para el icono de tareas */
}

ion-tab-button[tab="calendario"] {
  --color: #adb5bd; /* Color pastel para el icono de calendario */
}

ion-tab-button[tab="menu"] {
  --color: #adb5bd; /* Color pastel para el icono de menú */
}

ion-tab-button.selected {
  --background: rgba(255, 255, 255, 0.2); /* Fondo más claro cuando el botón está seleccionado */
  --color: #ffffff; /* Color blanco cuando el botón está seleccionado */
}

ion-tab-button.animated {
  animation: pulse 1s infinite; /* Animación de pulsación */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    --color: #ffffff; /* Color blanco durante la pulsación */
  }
  100% {
    transform: scale(1);
  }
}

/* Ajustes del popover */
ion-popover {
  --width: 300px; /* Ajusta este valor según tus necesidades */
}

.custom-popover ion-item {
  --min-height: 44px; /* Ajusta este valor según tus necesidades */
  white-space: nowrap; /* Evita que las palabras se vayan hacia abajo */
  text-overflow: ellipsis;
  overflow: hidden;
}

ion-popover ion-icon {
  --color: #000; /* Asegura que los iconos dentro del popover sean visibles */
}

@media screen and (min-width: 1024px) {
  ion-toolbar {
    padding: 0 20px; /* Más espacio en los lados */
  }

  .titulo {
    font-size: 30px; /* Tamaño de fuente más grande para títulos */
  }

  .BuscarT {
    margin: 2% auto; /* Centrar la barra de búsqueda */
    width: 50%; /* Hacerla más ancha */
  }

  ion-item {
    width: 80%; /* Más ancho para elementos de lista */
    padding: 10px; /* Más espacio interno */
  }

  ion-label h2 {
    font-size: 18px; /* Tamaño de fuente más grande para títulos de tareas */
  }

  ion-label p {
    font-size: 14px; /* Tamaño de fuente más grande para detalles de tareas */
  }

  .add {
    margin-right: 30px; /* Aumenta el margen para pantallas grandes */
  }

  ion-fab-button {
    --background: linear-gradient(
      to right,
      #2b31d2,
      #344ce5
    ); /* Gradiente para el botón flotante */
  }

  ion-tab-bar {
    font-size: 20px; /* Tamaño de fuente más grande para las pestañas */
  }

  ion-tab-button {
    --icon-size: 24px; /* Ajuste del tamaño de los íconos */
  }

  ion-icon {
    font-size: 32px; /* Tamaño más grande para los íconos */
  }

  ion-popover .popover-content {
    --width: 200px; /* Ajusta este valor según tus necesidades */
  }

  .custom-popover ion-item {
    --min-height: 44px; /* Ajusta este valor según tus necesidades */
    white-space: nowrap; /* Evita que las palabras se vayan hacia abajo */
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
