<ion-header>
  <ion-toolbar>
    <ion-title>Mis Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addOrUpdateTask()">Agregar Tarea</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logout-button">
    <ion-button (click)="signOut()">Logout</ion-button>
  </div>

  <div class="calendar-buttons">
    <ion-button id="authorize_button" (click)="handleAuthClick()">Authorize</ion-button>
    <ion-button id="signout_button" (click)="handleSignoutClick()">Sign Out</ion-button>
  </div>
  <pre id="content" style="white-space: pre-wrap;"></pre>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p>{{ task.startTime | date: 'short' }} - {{ task.endTime | date: 'short' }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="addOrUpdateTask(task)">Editar</ion-button>
        <ion-button color="danger" (click)="deleteTask(task.id)">Eliminar</ion-button>
        <ion-button color="success" (click)="markAsCompleted(task)">
          {{ task.completed ? 'Marcar como No Completada' : 'Marcar como Completada' }}
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div class="calendar-header">
    <ion-button fill="clear" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="current-month">{{ currentMonth }}</div>
    <ion-button fill="clear" (click)="next()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <calendar
    [eventSource]="allEvents"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    [step]="30">
  </calendar>


</ion-content>

<ion-footer class="fixed-footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/tareas-p" tab="tareas">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/home" tab="calendario">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  tab="menu">
      <ion-icon id="popover-button" name="menu-outline"></ion-icon>
      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item button>
                <ion-icon name="notifications-outline" slot="start"></ion-icon>
                <ion-label>Notificaciones</ion-label>
              </ion-item>
              <ion-item button>
                <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                <ion-label>Productividad</ion-label>
              </ion-item>
              <ion-item button>
                <ion-icon name="log-out-outline" slot="start"></ion-icon>
                <ion-label>Cerrar Sesión</ion-label>
              </ion-item>
              <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item button>
                        <ion-icon name="options-outline" slot="start"></ion-icon>
                        <ion-label>Nested option</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
