ion-header {
  --background: #fff;
  --color: #000;
}

.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

.calendar-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

ion-toolbar {
  --background: #fff;
  --color: #000;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.current-month {
  font-weight: bold;
  font-size: 1.2em;
}

ion-tab-bar {
  --background: #000; /* Fondo oscuro para la barra de pestañas */
  --color: #ffffff; /* Color de los iconos */
  font-size: 35px;
}

ion-tab-button {
  --color: #adb5bd; /* Color de los iconos no seleccionados */
  --color-selected: #ffffff; /* Color de los iconos seleccionados */
  --background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

ion-tab-button:hover {
  --color: #ffffff;
  --background: rgba(255, 255, 255, 0.1);
}

ion-tab-button.selected {
  --background: rgba(255, 255, 255, 0.2);
  --color: #ffffff;
}

/* Estilo para el popover */
ion-popover .popover-content {
  --width: 200px; 
}

.custom-popover ion-item {
  --min-height: 44px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  --padding-start: 15px;
  --padding-end: 15px;
}

/* Asegura que todos los ítems estén alineados */
.custom-popover ion-item ion-icon {
  --margin-end: 10px;
  --color: #000;
}

@media screen and (min-width: 1024px) {


  .custom-popover ion-item {
    --min-height: 44px;
  }

  ion-tab-bar {
    font-size: 20px;
  }



  ion-toolbar {
    padding: 0 20px;
  }

  .titulo {
    font-size: 30px;
  }

  ion-tab-button {
    --icon-size: 24px;
  }

  ion-icon {
    font-size: 32px;
  }
}


